/*
============================================
; Title:  about.component.scss
; Author: Professor Krasso
; Date: 12 March 2022
; Modified By: K. Hall
; Description: Styling file for the about component.   
;===========================================
*/
.photo-container {
  margin-top: -45px;
  margin-left: 20px;
}
.bobs-photo {
  margin-left: -105px;
}
.caption {
  margin-left: 18px;
}
.fx-container {
  height: 1210px;
}
.about-txt {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: .6px;
  line-height: 1.7;
  width: 80%;
  margin-top:35px;
}
