/**
 * Title: service-list.component.scss
 * Author: Professor Krasso
 * Date: 11 March 2022
 * Modified By: Keith Hall
 * Description: Styles for the service-list component.
 */

 html, body {
  height: 100%;
  color: rgba(255, 255, 255, 0.7) !important;
}

.service-tile {
  padding: 5rem 5rem 2rem;

}
mat-checkbox {
  padding: 0.4rem;
}

.submit-button {

  margin-top: 1rem;
}
.service-wrapper {
  min-height: calc(100vh - 565px);
}
#card-container {
  margin-left: 20%;
  margin-right: 10%;
  top: 50px;

}
.main-container {
  width:90%;
  height: 600px;
  margin: auto;
  top: 0px;
}
.toggle-text {
  font-size: 14px;
  font-family: Roboto;
  margin-top: 4px;
  margin-left: 10px;
}
