body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}
.close-btn {
  display: flex;
  justify-content: flex-end;
}
.invoice-row {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.invoice-total {
  padding-top: 2rem;
  margin-bottom: 20px;
  margin-top: -10px;
}
.invoice-title {
  padding: 1.5rem 2rem 1rem;
  font-size: 1.5rem;
}
mat-icon {
  font-size: 14px;
  height: unset;

}
.price {
  float: right;
}
