/**
 * Title: home.component.scss
 * Author: Professor Krasso
 * Date: 11 March 2022
 * Modified By: Keith Hall
 * Description: Styling file for home component.
 */
 
section div p{
  font-size: 32px;
  margin: 0px 0;
}
section div + p{
  color: #3f51b5;
  font-weight: bold;
  font-size: 6px;
  padding-bottom: 30px;
}
mat-tab-group {
  text-align: center;
}

mat-tab-group p {
  padding-top: 2px;

}
.photo-container {
  width: 800px;
  padding: 30px;
  margin-top: 50ox;

}
.photo-container {
  margin-top: -15px;
  margin-left: 20px;
}
.bobs-photo {
  margin-left: -405px;
}
.caption {
  margin-left: 18px;
}
p {
  font-size: 12px;
}
.fx-container {
  height: 1120px;
}


